# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
tmp-chrome-profile-escalated/
node_modules/
tmp-chrome-profile*/
tmp-*.png
tmp-*.log

tmp-chrome-profile-escalated/
tmp-chrome-profile/
tmp-*.png
tmp-*.log